In [4]:
import pandas as pd

raw_df = pd.read_csv('flight.csv')
raw_df.head()

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,UNIQUE_CARRIER,TAIL_NUM,FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN,...,DEP_DEL15,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,ARR_DEL15,CANCELLED,DIVERTED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,DISTANCE
0,2016,1,1,1,5,DL,N836DN,1399,10397,ATL,...,0.0,2143,2102.0,-41.0,0.0,0.0,0.0,338.0,295.0,2182.0
1,2016,1,1,1,5,DL,N964DN,1476,11433,DTW,...,0.0,1435,1439.0,4.0,0.0,0.0,0.0,110.0,115.0,528.0
2,2016,1,1,1,5,DL,N813DN,1597,10397,ATL,...,0.0,1215,1142.0,-33.0,0.0,0.0,0.0,335.0,300.0,2182.0
3,2016,1,1,1,5,DL,N587NW,1768,14747,SEA,...,0.0,1335,1345.0,10.0,0.0,0.0,0.0,196.0,205.0,1399.0
4,2016,1,1,1,5,DL,N836DN,1823,14747,SEA,...,0.0,607,615.0,8.0,0.0,0.0,0.0,247.0,259.0,1927.0

In [30]:
#Drop attributes we will not know before the flight.
drop_df = raw_df.drop(['TAIL_NUM', 'FL_NUM', 'DEP_TIME', 'DEP_DELAY', 
                       'DEP_DEL15', 'ARR_TIME', 'ARR_DELAY', 'ACTUAL_ELAPSED_TIME','UNIQUE_CARRIER','YEAR', 'QUARTER',
                      'ORIGIN', 'DEST','CANCELLED', 'DIVERTED'], axis=1)
drop_df.head()

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,ORIGIN_AIRPORT_ID,DEST_AIRPORT_ID,CRS_DEP_TIME,CRS_ARR_TIME,ARR_DEL15,CRS_ELAPSED_TIME,DISTANCE
0,1,1,5,10397,14747,1905,2143,0.0,338.0,2182.0
1,1,1,5,11433,13487,1345,1435,0.0,110.0,528.0
2,1,1,5,10397,14747,940,1215,0.0,335.0,2182.0
3,1,1,5,14747,13487,819,1335,0.0,196.0,1399.0
4,1,1,5,14747,11433,2300,607,0.0,247.0,1927.0

In [7]:
drop_df['ARR_DEL15'].value_counts()

0.0    9668
1.0    1375
Name: ARR_DEL15, dtype: int64

In [10]:
drop_df.describe()

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,ORIGIN_AIRPORT_ID,DEST_AIRPORT_ID,CRS_DEP_TIME,CRS_ARR_TIME,ARR_DEL15,CANCELLED,DIVERTED,CRS_ELAPSED_TIME,DISTANCE
count,11231.000000,11231.000000,11231.000000,11231.000000,11231.000000,11231.000000,11231.000000,11043.000000,11231.000000,11231.000000,11231.000000,11231.000000
mean,6.628973,15.790758,3.960199,12334.516695,12302.274508,1320.798326,1537.312795,0.124513,0.010150,0.006589,190.652124,1161.031965
std,3.354678,8.782056,1.995257,1595.026510,1601.988550,490.737845,502.512494,0.330181,0.100241,0.080908,78.386317,643.683379
min,1.000000,1.000000,1.000000,10397.000000,10397.000000,10.000000,2.000000,0.000000,0.000000,0.000000,93.000000,509.000000
25%,4.000000,8.000000,2.000000,10397.000000,10397.000000,905.000000,1130.000000,0.000000,0.000000,0.000000,127.000000,594.000000
50%,7.000000,16.000000,4.000000,12478.000000,12478.000000,1320.000000,1559.000000,0.000000,0.000000,0.000000,159.000000,907.000000
75%,9.000000,23.000000,6.000000,13487.000000,13487.000000,1735.000000,1952.000000,0.000000,0.000000,0.000000,255.000000,1927.000000
max,12.000000,31.000000,7.000000,14747.000000,14747.000000,2359.000000,2359.000000,1.000000,1.000000,1.000000,397.000000,2422.000000

In [9]:
display(drop_df.describe())

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,ORIGIN_AIRPORT_ID,DEST_AIRPORT_ID,CRS_DEP_TIME,CRS_ARR_TIME,ARR_DEL15,CRS_ELAPSED_TIME,DISTANCE
count,11231.000000,11231.000000,11231.000000,11231.000000,11231.000000,11231.000000,11231.000000,11043.000000,11231.000000,11231.000000
mean,6.628973,15.790758,3.960199,12334.516695,12302.274508,1320.798326,1537.312795,0.124513,190.652124,1161.031965
std,3.354678,8.782056,1.995257,1595.026510,1601.988550,490.737845,502.512494,0.330181,78.386317,643.683379
min,1.000000,1.000000,1.000000,10397.000000,10397.000000,10.000000,2.000000,0.000000,93.000000,509.000000
25%,4.000000,8.000000,2.000000,10397.000000,10397.000000,905.000000,1130.000000,0.000000,127.000000,594.000000
50%,7.000000,16.000000,4.000000,12478.000000,12478.000000,1320.000000,1559.000000,0.000000,159.000000,907.000000
75%,9.000000,23.000000,6.000000,13487.000000,13487.000000,1735.000000,1952.000000,0.000000,255.000000,1927.000000
max,12.000000,31.000000,7.000000,14747.000000,14747.000000,2359.000000,2359.000000,1.000000,397.000000,2422.000000

In [10]:
drop_df['ARR_DEL15'].value_counts()

0.0    9668
1.0    1375
Name: ARR_DEL15, dtype: int64

In [13]:
#find rows with null ARR_DEL 

drop_df.isna().any()

MONTH                False
DAY_OF_MONTH         False
DAY_OF_WEEK          False
ORIGIN_AIRPORT_ID    False
DEST_AIRPORT_ID      False
CRS_DEP_TIME         False
CRS_ARR_TIME         False
ARR_DEL15             True
CRS_ELAPSED_TIME     False
DISTANCE             False
dtype: bool

In [14]:
clean_df = drop_df.dropna()

In [15]:
clean_df.isna().any()

MONTH                False
DAY_OF_MONTH         False
DAY_OF_WEEK          False
ORIGIN_AIRPORT_ID    False
DEST_AIRPORT_ID      False
CRS_DEP_TIME         False
CRS_ARR_TIME         False
ARR_DEL15            False
CRS_ELAPSED_TIME     False
DISTANCE             False
dtype: bool

In [16]:
clean_df.describe()

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,ORIGIN_AIRPORT_ID,DEST_AIRPORT_ID,CRS_DEP_TIME,CRS_ARR_TIME,ARR_DEL15,CRS_ELAPSED_TIME,DISTANCE
count,11043.000000,11043.000000,11043.000000,11043.000000,11043.000000,11043.000000,11043.000000,11043.000000,11043.000000,11043.000000
mean,6.643847,15.813185,3.964774,12332.628271,12302.496785,1321.007154,1537.425428,0.124513,190.595581,1160.944490
std,3.353072,8.789698,1.990953,1596.321443,1602.485742,490.705288,502.495992,0.330181,78.425024,643.830437
min,1.000000,1.000000,1.000000,10397.000000,10397.000000,10.000000,2.000000,0.000000,93.000000,509.000000
25%,4.000000,8.000000,2.000000,10397.000000,10397.000000,905.000000,1130.000000,0.000000,126.000000,594.000000
50%,7.000000,16.000000,4.000000,12478.000000,12478.000000,1320.000000,1559.000000,0.000000,159.000000,907.000000
75%,9.000000,23.000000,6.000000,13487.000000,13487.000000,1735.000000,1952.000000,0.000000,255.000000,1927.000000
max,12.000000,31.000000,7.000000,14747.000000,14747.000000,2359.000000,2359.000000,1.000000,397.000000,2422.000000

In [65]:
import numpy as np
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import time
import basic_functions
 
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split 
 
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn import tree
from sklearn.neural_network import MLPClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.gaussian_process.kernels import RBF
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB

def get_train_test(df, y_col, x_cols, ratio):
    """ 
    This method transforms a dataframe into a train and test set, for this you need to specify:
    1. the ratio train : test (usually 0.7)
    2. the column with the Y_values
    """
     
    df_train , df_test = train_test_split(df, test_size=train_test_ratio, random_state=42)
       
    Y_train = df_train[y_col].values
    Y_test = df_test[y_col].values
    X_train = df_train[x_cols].values
    X_test = df_test[x_cols].values
    return df_train, df_test, X_train, Y_train, X_test, Y_test

y_col = 'ARR_DEL15'
x_cols = list(clean_df.columns.values)
x_cols.remove(y_col)
 
train_test_ratio = 0.3
df_train, df_test, X_train, Y_train, X_test, Y_test = get_train_test(clean_df, y_col, x_cols, train_test_ratio)

In [63]:

#Basic ML Classifiers to be used
dict_classifiers = {
    "Logistic Regression": LogisticRegression(),
    "Nearest Neighbors": KNeighborsClassifier(),
    "Linear SVM": SVC(),
    "Gradient Boosting Classifier": GradientBoostingClassifier(n_estimators=1000),
    "Decision Tree": tree.DecisionTreeClassifier(),
    "Random Forest": RandomForestClassifier(n_estimators=1000),
    "Neural Net": MLPClassifier(alpha = 1),
    "Naive Bayes": GaussianNB()
}

In [25]:
def batch_classify(X_train, Y_train, X_test, Y_test, no_classifiers = 5, verbose = True):
    """
    This method, takes as input the X, Y matrices of the Train and Test set.
    And fits them on all of the Classifiers specified in the dict_classifier.
    The trained models, and accuracies are saved in a dictionary. The reason to use a dictionary
    is because it is very easy to save the whole dictionary with the pickle module.
    
    Usually, the SVM, Random Forest and Gradient Boosting Classifier take quiet some time to train. 
    So it is best to train them on a smaller dataset first and 
    decide whether you want to comment them out or not based on the test accuracy score.
    """
    
    dict_models = {}
    for classifier_name, classifier in list(dict_classifiers.items())[:no_classifiers]:
        t_start = time.clock()
        classifier.fit(X_train, Y_train)
        t_end = time.clock()
        
        t_diff = t_end - t_start
        train_score = classifier.score(X_train, Y_train)
        test_score = classifier.score(X_test, Y_test)
        
        dict_models[classifier_name] = {'model': classifier, 'train_score': train_score, 'test_score': test_score, 'train_time': t_diff}
        if verbose:
            print("trained {c} in {f:.2f} s".format(c=classifier_name, f=t_diff))
    return dict_models



def display_dict_models(dict_models, sort_by='test_score'):
    cls = [key for key in dict_models.keys()]
    test_s = [dict_models[key]['test_score'] for key in cls]
    training_s = [dict_models[key]['train_score'] for key in cls]
    training_t = [dict_models[key]['train_time'] for key in cls]
    
    df_ = pd.DataFrame(data=np.zeros(shape=(len(cls),4)), columns = ['classifier', 'train_score', 'test_score', 'train_time'])
    for ii in range(0,len(cls)):
        df_.loc[ii, 'classifier'] = cls[ii]
        df_.loc[ii, 'train_score'] = training_s[ii]
        df_.loc[ii, 'test_score'] = test_s[ii]
        df_.loc[ii, 'train_time'] = training_t[ii]
    
    display(df_.sort_values(by=sort_by, ascending=False))

In [26]:
dict_models = batch_classify(X_train, Y_train, X_test, Y_test, no_classifiers = 8)
display_dict_models(dict_models)

trained Logistic Regression in 0.04 s
trained Nearest Neighbors in 0.04 s
trained Linear SVM in 2.01 s
trained Gradient Boosting Classifier in 3.63 s
trained Decision Tree in 0.03 s
trained Random Forest in 8.49 s
trained Neural Net in 0.69 s
trained Naive Bayes in 0.01 s

                     classifier  train_score  test_score  train_time
3  Gradient Boosting Classifier     0.913066    0.876849    3.628392
0           Logistic Regression     0.875032    0.876547    0.036499
6                    Neural Net     0.875032    0.876547    0.690811
7                   Naive Bayes     0.875032    0.876547    0.012742
5                 Random Forest     1.000000    0.875641    8.491352
2                    Linear SVM     0.953299    0.874736    2.014395
1             Nearest Neighbors     0.882536    0.867190    0.040145
4                 Decision Tree     1.000000    0.808029    0.025718

In [29]:
clean_df["ARR_DEL15"].value_counts()

0.0    9668
1.0    1375
Name: ARR_DEL15, dtype: int64

In [ ]:
'''The best model shows a testscore of 87.7% which is only slightly better than simply guessing all the flights
will be on time (9968/11043 is about 87.5%)


We will now use a stratified randle sample to both train and test data'''

In [56]:
from sklearn.model_selection import StratifiedShuffleSplit
sss = StratifiedShuffleSplit(n_splits=1, test_size=0.3, random_state=42)

    
y_col = 'ARR_DEL15'
x_cols = list(clean_df.columns.values)
x_cols.remove(y_col)

X = clean_df[x_cols].values
Y = clean_df[y_col].values
X_test  = clean_df[x_cols].values
Y_test = clean_df[y_col].values
#dict_models = batch_classify(X_train, Y_train, X_test, Y_test, no_classifiers = 8)

sss.get_n_splits(X, Y)
for train_index, test_index in sss.split(X, Y):
    X_train, X_test = X[train_index], X[test_index]
    Y_train, Y_test = Y[train_index], Y[test_index]
    dict_models = batch_classify(X_train, Y_train, X_test, Y_test, no_classifiers = 8)
    display_dict_models(dict_models)

trained Logistic Regression in 0.02 s
trained Nearest Neighbors in 0.05 s
trained Linear SVM in 1.83 s
trained Gradient Boosting Classifier in 3.50 s
trained Decision Tree in 0.03 s
trained Random Forest in 8.15 s
trained Neural Net in 0.98 s
trained Naive Bayes in 0.01 s

                     classifier  train_score  test_score  train_time
0           Logistic Regression     0.875550    0.875340    0.019459
6                    Neural Net     0.875550    0.875340    0.976618
7                   Naive Bayes     0.875550    0.875340    0.011249
2                    Linear SVM     0.957956    0.873227    1.828529
5                 Random Forest     1.000000    0.865077    8.147085
3  Gradient Boosting Classifier     0.913713    0.864473    3.499005
1             Nearest Neighbors     0.884476    0.859644    0.047528
4                 Decision Tree     1.000000    0.801087    0.026421

In [ ]:
'''No significant change, we will now move on to Over and Undersampling to
handle class imbalances within the Arrival Delay attribute.'''